<div class="card col user-card">
  <img class="avatar" src={{user.avatar_url}} alt="avatar">
  <div>
    <h2 class="primary-col">{{user.name}}</h2>
    <p>📍 &nbsp; {{user.location}}</p>
    <p>{{user.bio}}</p>
    <a href={{twitter_url}}>{{twitter_url}}</a>
    <a href={{user.blog}}>{{user.blog}}</a>
    <a href={{user.html_url}}>{{user.html_url}}</a>
  </div>
</div>

<div class="content">
  <app-repo-item
    *ngFor="let repo of page_repos"
    [repo]="repo"
  ></app-repo-item>
</div>
<mat-paginator class="content"
  [length]="repos_count"
  [pageSize]="9"
  (page)="onPageChange($event)"
></mat-paginator>